if SHIELD_DACTYLMANUFORM46_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y  
endif

if SHIELD_DACTYLMANUFORM46_LEFT || SHIELD_DACTYLMANUFORM46_RIGHT

config ZMK_SPLIT
    default y


endif
